

body {
    margin: 0;
    padding: 0;
  }

  main {
    padding: 16px;
  }

  footer {
    padding: 24px 0;
  }

  img {
    height: 200px;
  }

  nav {
    background-color: orange;
    color: white;
    border-bottom: 1px solid black;
    padding: 16px;
  }

  a {
    text-decoration: none;
  }

  a:link {
    color: rgb(54, 194, 66);
  }

  a:visited {
    color: rgb(31, 160, 81);
  }

  a:hover {
    color: rgb(196, 91, 21);
  }

  @font-face {
    font-family: 'Roboto', sans-serif;

    src: url(fonts/Roboto-Regular.ttf);
  }

 *  {
    font-family: 'Roboto', sans-serif;
  }

  footer {
    background-color: greenyellow;
    position: sticky;
    bottom: 0px;
    padding: 30px
  }

  main {
    margin-bottom: 60px;
  }

  .food-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  #title-page {
    color: darkolivegreen
  }

  tr:nth-child(even) {
    background-color: rgb(192, 192, 192);
  }

  tr {
width: 200px
  }
